@font-face {
    font-family: 'aristotelica_display_trialRg';
    src: url('../../media/fonts/aristotelica-display-regular-trial-webfont.woff2') format('woff2'),
         url('../../media/fonts/aristotelica-display-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#profile-banner{
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    background-color: black;
}

#cover{
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.5;
}

#user-banner-info{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 40px 40px;
    align-items: center;
}

#profile-picture{
    height: 30%;
    width: 16%;
    border-radius: 100%;
    margin-right: 20px;
}

h1{
    color: aliceblue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #C1334D;
    font-size: 40px;
    font-family: aristotelica_display_trialRg;
    margin-left: 40px;
}

#fav-shows-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* SHOW CARD CSS */
.show-card{
    width: 250px;
    height: 100%;
    display: flex;
    border-radius: 130px;
    flex-direction: column;
}

#show-cover{
    width: 100%;
    height: 80%;
}
#image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#lower-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
h3,p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}