#popular-shows-container{
    display: flex;
    flex-direction: column;
}
#container{
    display: flex;
    flex-direction: row;
}

#show-info-card{
    width: 40%;
}

#shows-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

#shows-glide-track{
    height: 80%;
    width: 100%;
}

#shows-glide-buttons{
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#show-card{
    width: 250px;
    height: 100%;
    display: flex;
    border-radius: 130px;
    flex-direction: column;
}
#show-cover{
    width: 100%;
    height: 80%;
}
#image{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
}
#lower-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
#data{
    width: 80%;
    height: 100%;
}
h3,p{
    font-family: Arial, Helvetica, sans-serif;
}